extends layout

block content
    div.page-container(ng-controller = "DataReportController")
        div.heading-container
            div.top
                div.documentTitle
                    h1.document-title-text {{businessName}}
                div.subTitle
                    h4.subtitle-text Data Report By GoPayment
                    h4.subtitle-text {{dataReportDate}}
            div.bottom
                ul
                    li
                        h3.label-text Transactions
                        h3.sub-label-text This Month:
                        div.transactionsLabel-container
                            h3(ng-bind="transactionsThisMonth").transactionsLabel
                    li
                        h3.label-text Revenue
                        h3.sub-label-text This Month
                        h3(ng-bind="revenueThisMonth").transactionsLabel
                    li
                        h3.label-text Sales Tax
                        h3.sub-label-text Due This Quarter
                        h3(ng-bind="salesTaxThisQuarter").transactionsLabel

        div.content-container
            div.revenue-container(ng-controller="RevenueController")
                div.revenue.content-block
                    h3.revenue-label Revenue Over Month
                    div#RevenueGraph
                    h3.revenue-x-axis Week
            div.insights-container
                div.insights.content-block
                    h2.insights-label Insights
                    h4.insights-top.insights-content(ng-bind="insightsTop")
                    hr
                    h4.insights-bottom.insights-content(ng-bind="insightsBottom")
            div.transactions-container(ng-controller="TransactionsController")
                div.transactions.content-block
                    h3.transactions-label Transactions
                    h3.transactions-label By Day Of Week: 
                    h3.transactions-month{{transactionsMonth}}
                    div#TransactionsGraph
            div.itemized_products-container
                img(src="/images/ItemizedFiller.png", height="217", width="271")
            div.logo-container
                img(src="/images/gopayment_logo.png", height="37", width="200")

            div.footer

    script(type='text/javascript' 
        src="d3/d3.js")
    script(type="text/javascript",
        src="angular/angular.min.js")
    script(type='text/javascript' 
        src="javascripts/controllers.js")

        //- h1= title
        //- p Welcome to #{title}
        