@font-face 
{
	font-family: DINNextLightRegular;
	src: url('/harmony_fonts/DINNextLTPro-Light.ttf');
	font-weight: normal;
}
@font-face 
{
	font-family: DINNextLightMedium;
	src: url('/harmony_fonts/DINNextLTPro-Medium.ttf');
}
@font-face 
{
	font-family: HelveticaNeueRegular;
	src: url('/harmony_fonts/HelveticaNeueLTW1G-Roman.ttf');
}
@font-face 
{
	font-family: HelveticaNeueLight;
	src: url('/harmony_fonts/HelveticaNeueLTW1G-Lt.ttf');
}


body {
  font-size: 14pt;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: HelveticaNeueRegular;
}


.bottom h3{
	color: #231F20;
}
.bottom .label-text {
	font-family: HelveticaNeueRegular;
	font-weight: bold;
	padding-top: 8px;
	font-size: 16px;
}
.bottom .sub-label-text {
	font-family: HelveticaNeueLight;
	font-weight: lighter;
	font-size: 16px;
}

.content-container {
	/*background-color: red;*/
	height: 665px;
	/*height: 100%;*/
	position: relative;
	width: 100%;

}

.documentTitle {
	text-align: center;
}

.document-title-text {
	font-weight: 100;
	font-family: HelveticaNeueLight;

	color: #F1F2F2;
	position: relative;
	top: 14px;
	font-size: 22px;
}

.heading-container{
	border-bottom: 2pt solid rgb(198, 203, 211);
	height:126px;
	position: relative;
	width:100%;
}

.heading-container .bottom {
	/*bottom: 66%;*/
	height: 81px;
	position: relative;
}

.heading-container .bottom ul {
	height: 100%;
	text-align: center;
	list-style-type: none;
	padding-left: 26px;
	/*padding-right:26px;*/
}

.heading-container .bottom ul li {
	border-left: 2px solid rgba(80, 81, 80, .4);
	border-right: 2px solid rgba(80, 81, 80, .4);
	float: left;
	width: 143px;
	position: relative;
	text-decoration: none;
	height: 100%;
	background-color: rgba(198, 203, 211, .45);
	margin: 0 20px 0 20px;
}

.heading-container .top {
	position:relative;
	background-color: #505150;
	height: 45px;
	width: 100%;
}

.footer {
	position:absolute;
	bottom: 0px;
	height: 18.5px;
	background-color: #505150;
	width:100%;
}

.legend {
	list-style-type: none;
	position: absolute;
	top: 110px;
	left: 80px;
}

.legend li {
	font-family: DINNextLightRegular;
	font-size: 14px;
}

.legend .legend-color {
	width: 7px;
	height: 7px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.legend .month1 {
	background-color: #66CCCC;
}
.legend .month2 {
	background-color: #E21F26;
}
.legend .month3 {
	background-color: #F89824;
}

.page-container {
	width: 612px;
	height:792px;
	margin: 0 auto;
	/*border-left: 1px solid #505150;*/
	/*border-right: 1px solid #505150;*/
}

.content-block {
	background-color: #C6CBD3;
	position: absolute;
	display: inline-block;
}

.revenue-container{
	border-top: 3pt solid #0099CC;
	width: 363px;
	height: 332px;
	left: 18px;
	position: absolute;
	top: 20px;
}

.revenue-label {
	margin-top: 5px;
	width: 100%;
	text-align:center;
	color: #231F20;
	font-weight: 100;
	font-size: 15px;
}

.revenue-x-axis-label {
	text-align: center;
	position: relative;
	bottom: 5px;
	font-weight: 100;
	font-size: 13px;
	padding-top: 20px;
}

.revenue-x-axis {
	list-style-type: none;
	margin-left: 35px;
	text-align: center;
	position: absolute;
	bottom: 20px;
}

.x-axis-multi {
	stroke: rgba(198, 203, 211, 1);
}

.x-axis-number {
	display: inline-block;
	font-family: DINNextLightRegular;
	font-size: 14px;
	width: 76px;

}

.revenue-y-axis {
	position: absolute;
	top: 0px;
	list-style-type: none;
	padding-top: 29px;
	margin-left: -5px;
	height: 332px;
	width: 40px;
}

.revenue-y-axis .y-axis-number {
	height: 63.5px;
	width: 100%;
	font-family: DINNextLightRegular;
	font-size: 14px;
	text-align: right;
}

#RevenueGraph {
	padding: 10px 0px 0px 40px;
}

.revenue {
	width: 361px;
	height: 100%;
	background-color: rgba(198, 203, 211, .45);
	left: 1px;
}

.subTitle {
	top: 5px;
	position: absolute;
	right: 5px;
	text-align: right;
}

.subtitle-text {
	font-family: HelveticaNeueLight;
	font-weight: lighter;
	color: #F1F2F2;
	font-size: 8pt;
}

hr {
	background-color: #505150;
	border: 0;
	height: 1px;
	width: 132px;
}

.insights-container {
	border-top: 3pt solid #FFCC33;
	height: 240px;
	width: 205px;
	left: 391px;
	top: 65px;
	position: absolute;

}

.insights-content {
	text-align: center;
}

.insights-label {
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	color: #231F20;
	font-weight: 100;
}

.insights-bottom {
	font-size: 12px;
	font-weight: normal;
	padding: 0px 10px 10px 10px;

}

.insights-top {
	font-size: 12px;
	font-weight: normal;
	padding: 10px 20px 0px 20px;
}

.insights {
	height: 100%;
	width: 202px;
	background-color: rgba(198, 203, 211, .45);
	left: 1px;
}

.logo-container {
	height: 37px;
	width: 200px;
	position: absolute;
	right: 10px;
	bottom: 20px;
}

.transactions-container {
	border-top: 3pt solid #E21F26;
	left: 42px;
	top: 380px;
	height: 247px;
	width: 233px;
	position: absolute;
}

.transactions {
	height: 100%;
	width: 231px;
	background-color: rgba(198, 203, 211, .45);
	left: 1px;
	padding-top: 5px;
}

.transactionsLabel {
	font-size: 16px;
	font-family: DINNextLightRegular;
	font-weight: bolder;
	width: 80px;
	margin: 0 auto;
	margin-top: 5px;
}

.transactionsLabel.revenue-modification{
	color: #4E9F45;

}

.transactionsLabel-container {
	margin-top: 2px;
	border: 1px solid black;
	display: inline-block;
}

.transactions-label {
	text-align: center;
	font-weight: 100;
	font-size: 14px;

}

.transactions-month-label-container {
	margin-top: -30px;
	padding-left: 20px;
    list-style-type: none;
}

.transactions-month-label {
	/*float: left;*/
	font-family: HelveticaNeueLight;
	font-size: 10pt;
	display:inline-block;
	text-align: center;
	width: 27px;
    color: #F1F2F2;
    font-weight: lighter;
}

.transactions-month {
	text-align: center;
	font-weight: bolder;
	font-size: 14px;
	margin-bottom: 5px;
}

.transactions-y-axis {
	position: absolute;
	top: 0px;
	list-style-type: none;
	padding-top: 68px;
	margin-left: -5px;
	height: 332px;
	width: 20px;
}

.transactions-y-axis .y-axis-number {
	height: 55.75px;
	width: 100%;
	font-family: DINNextLightRegular;
	font-size: 8.7px;
	text-align: right;
}

#TransactionsGraph{
	padding: 5px 0px 0px 20px;
}

.itemized_products-container {
	/*border-top: 3pt solid #4E9F45;*/
	/*background-image: url('/images/ItemizedFiller.png');*/
	height: 217px;
	width: 271px;
	left: 305px;
	top: 380px;
	position: absolute;
}

.itemized_products{
	height: 100%;
	width: 269px;
	background-color: #C6CBD3;
	left: 1px;

}

path {
    stroke-width: 2;
    fill: none;
}

path.revenue0 {
	stroke: rgba(102, 204, 204, 1);
}
path.revenue1 {
    stroke: rgba(226, 31, 38, 1);
}
path.revenue2 {
	stroke: rgba(248, 152, 36, 1);

}

rect.dayOfWeek0 {
	fill: #58AAAC;
}
rect.dayOfWeek1 {
	fill: #0098CD;
}
rect.dayOfWeek2 {
	fill: #58AAAC;
}
rect.dayOfWeek3 {
	fill: #006666;
}
rect.dayOfWeek4 {
	fill: #63C7CC;
}
rect.dayOfWeek5 {
	fill: #1E8384;
}
rect.dayOfWeek6 {
	fill: #7AC143;
}

line {
    stroke: black;
}

line.transactionsAxes {
	stroke-width: .5pt;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

.ui-controls {
	display: none;
	position:absolute;
	margin-left: -200px;
}

.ui-controls .ui-input {
	display:block;
}

.xTick {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.yTick {
	stroke: black;
	stroke-width: 1;
	fill: none;
}
